@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: 'Varela Round';
    box-sizing: border-box;
}
body {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.button-search {
    padding: 4px 7px;
    box-shadow: none;
}

button {
    padding: 10px 15px;
    background-color: rgb(28, 72, 204);
    color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0.2rem 0.2rem 3px black;
    font-weight: bold;
}

header {
    height: calc(100vh - 100px);
    background: no-repeat center/cover;
    background-image: url('../pexels-florencia-potter-351283.jpg');
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

header nav p {
    font-weight: bold;
}

header nav ul {
    display: flex;
}
